body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

#download-link {
    margin-top: 20px;
    font-size: 1.2em;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
